* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#Toolbar {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 1em;
}

#nav-bar-left {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

#nav-bar-right {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.river-row {
    margin: 2em 0 0 0;
    display: flex;
    justify-content: space-between;
}

/* River Columns */
#river-name-column {
    width: 15%;
}

#river-cfs-column {
    width: 5%;
}

#river-report-column {
    width: 50%;
}

#river-flies-column {
    width: 20%;
}

.river-edit-container {
    width: 100%;
}

.edit-input-container {
    display: flex;
    justify-content: space-between;
}

hr {
    background-color: black;
    height: 1px;
}