body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

p {
    margin: 0;
}

#nav-bar {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 1em;
}

#nav-bar-left {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

#nav-bar-right {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.river-row {
    margin: 2em 0 0 0;
    display: flex;
    justify-content: space-between;
}

.river-column {
    width: 23%;
}

#cfs-column {
    width: 5%;
}

.river-report-container {
    width: 100%;
}

hr {
    height: 1px;
    border: 0px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}